<h1>About us</h1>
<p>We are two girls from Madrid, Spain. We are studying in the San Pablo Ceu Univesity coursing Advertisiment, Public Relations, and Digital Communitaction.</p>

<p>We are trying to learn how to use different tools to create a website for a subject (acronym) TP2</p>

<p> We want to create this website in order to show all the world our works, the way we work, and to offer some of our services.</p>

<p>With this project, we are learning and improving our skills, developing our mind and capacities.</p)