<div class="row">
<div class="col-md-6">


<h3>Contact Us</h3>
<p>If you have any doubt, or want to ask something, do not hesitate and contact us, and it will be a pleasure for us to answer you. Thank you very much! </p>
<ul class="menu">
</ul>
</div>
<div class="col-md-6"> 
<label>Name
<input type="text" placeholder="Name">
</label>
<p>Date <input type="text" placeholder="Date" id="datepicker"></p>
</label>
<label>
<label>Email
<input type="text" placeholder="Email">
</label>
<label>
Message 
<textarea placeholder="Write your message here"></textarea>
</label>
<input type="send" class="button expanded" value="Send">
</div>
</div>